/* Note: Mobile-first design */

/**** Header ****/

.header{
  min-height: 6em;
  overflow: auto;
  border: 1px solid gray;
  background: #003665;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
}

.header .logo{
  float: left;
  height: 5em;
  width: 15em;
  outline: 1px solid gray;
  margin: 0.5em;
}

.header .loginArea {
  float: right;
  margin-top: 2.5em;
  margin-left: 2.5em;
  margin-right: 0.5em;
}

.header .loginArea a{
  color: white;
  text-decoration: none;
}

.header .loginArea .signUpButton{
  box-sizing: border-box;
  background-color: #c05d00;
  border: 1px solid gray;
  padding: 0.5em;
  border-radius: 5px;
}

.header .loginArea .loginButton{
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 0.5em;
  border-radius: 5px;
}

.header .menu {
  float: right;
  margin-top: 2em;
  padding: 0em;
}

.header .menu a{
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
}



/**** Body ****/

body{
  max-width: 1050px;
  margin: auto;
  border: 1px solid gray;
  font-family: verdana, arial;
  font-size: 1.6em;
}

a{
  color: inherit;
}

div{
  box-sizing: border-box;
}

h1{
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.4;
  color: #003665;
}

h2{
  margin: auto;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  text-align: center;
  color: #003665;
}

h3{
  margin: auto;
  font-size: 1.1em;
  text-align: center;
  color: #f48f2d;  
}

p{
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1.3em;
  font-size: .9em;
  text-align: center;
  color: #003665;
}

  /**** Body - Get Started ****/
  #getStarted{
    background-image: url("sketch.jpg"); /*placeholder background*/
    background-repeat: no-repeat;
    background-position: left top;
    border-bottom: 2px solid #eee;
    padding: 1em 0.5em;
  }
  
  #getStarted .getStartedButton {
    background-color: #c05d00;
    display: block;
    margin: auto;
    width: 12em;
    border: 1px solid gray;
    padding: 0.75em 0em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }
  
  #getStarted .getStartedButton .p1{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0px;
    margin: auto;
    margin-bottom: 0.25em;
    max-width: 80%;
  }
  
  #getStarted .getStartedButton .p2{
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: auto;
    margin-top: 0.25em;
    font-size: .75em;
    max-width: 80%;
  }

  /**** Body - How It Works ****/
  #howItWorks{
    padding: 1em 0.5em;  
    border-bottom: 2px solid #eee;
  }  
  
  #howItWorks p{
    font-size: 0.75em;
  }
  
  #howItWorks .container{
    text-align: center;
    display: block; 
  }
  
  #howItWorks .create, #howItWorks .manage, #howItWorks .distribute{
    display: block;
    margin: 1em;
    padding: 0em 1em;
  } #howItWorks .create, #howItWorks .manage{
      border-bottom: 2px solid #003665;
      position: relative;
    }
  
  #howItWorks .icon{
    width: 60px;
    height: 60px;
    display: inline;
    margin: 20px auto;
  }
  
  #howItWorks .arrow{
    position: absolute;
    top: initial; right: initial; bottom: 0%; left: 50%;
    transform: translate(-50%,50%) rotate(90deg);
    height: 20px;
    width: 10px;
    padding: 5px;
    background-color: white;
  }

  /**** Body - Pricing ****/
  #pricing{  
    background-color: #f3f3f3;
    border-bottom: 2px solid #eee;
    /* margin: auto; */
    padding: 1em 0.5em;
  }  
  
  #pricing .underline{
    text-decoration: underline;
  }  
  
  #pricing .container{
    text-align: center;
    /* display: block;  */
  }
  
  #pricing .standard, #pricing .premium, #pricing .trial {
    /* display: block; */
    /* width: auto; */
    margin: 4em 1em;
    border: 2px solid;
    font-size: 0.75em; 
  } #pricing .standard{border-color: #f48f2d;} /* orange */
    #pricing .trial{border-color: #cbcbcb;}
    #pricing .premium{border-color: #003665;} /* blue */
  
  #pricing .heading{
    /* height: auto; */
    padding: 0.5em;
    margin: 0px;
    font-size: 1.8em;
  } #pricing .standard .heading{}
    #pricing .trial .heading{color:#777;}
    #pricing .premium .heading{
      /* height: 60px;
      font-size:25px; */ 
      color:white; 
      background-color:#003665; /* blue */
    }  
  
  #pricing .price{
    /* height: auto; */
    font-size: 3em;
/*     padding-top: 0.5em; */
    margin: 0em;
  } #pricing .standard .price{color:#f48f2d;}  /*orange*/
    #pricing .trial .price{color:#777;}
    #pricing .premium .price{
      /* height: 60px;
      font-size:50px; */ 
      color:white; 
      background-color:#003665; /* blue */
    }
  
  #pricing .basis{
    /* height: auto; */
    padding-bottom: 0.5em;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
  } #pricing .standard .basis{ color: #777;}
    #pricing .trial .basis{color: #777;}
    #pricing .premium .basis{
      color: white; 
      background-color: #003665; /* blue */
    }
    
  #pricing .desc{
    font-size: 1em;
    font-style: italic;
    padding: 1em 15%;
    margin: 0px;  
  } #pricing .standard .desc{
      background-color: #f48f2d; /*orange*/
      color: white;
    }
    #pricing .premium .desc{
      background-color: #003665; /* blue */
      color: white;
    }
    #pricing .trial .desc{
      background-color: #cbcbcb; 
      color: #555;
    }
  
  #pricing .buttonContainer{
    background-color: #f3f3f3;
    font-size: 1.3em;
  }
  
  #pricing .button{
    margin: 1em;
    padding: 5px;
    /* border: 1px solid; */
    background-color: #ddd;
    color: black;
    text-decoration: none;
    border-color: #777;
    display: inline-block;
  }
  
  
  /**** Body - Features ****/
  
  #features{
    padding: 1em;
    border-bottom: 2px solid #eee;
    text-align: center; /*centers list*/
  }

  #features ul{
    display: inline-block;
    text-align: left; /*uncenters elements within list*/
    /* margin: auto; */
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: .75em;
    color: #003665;  
  }
    

/**** Footer ****/

.footer .footerMenu{
  box-sizing: content-box;
  min-height: 2.5em;
  background-color: #f3f3f3;
  text-align: right;
  border-bottom: 2px solid #eee;
}

.footer .footerMenu .logo{
  box-sizing: border-box;
  float: left;
  margin: 0.5em;
  height: 1.5em;
  width: 4.5em;
  border: 1px solid gray;
}

.footer .footerMenu a.menu{
  display: inline-block;
  font-size: 0.6em;
  margin: 1.5em 1em;
  color: #003665;
  text-decoration: none;
}

.footer .footerExtra{
  background-color: #fdfdfd;
  font-size: 0.65em;
}

.footer .footerExtra .copyright{
  padding: 1em;
  color: #606060;
}

.footer .footerExtra .networkingIcons{
  padding: 1em;
}

.footer .footerExtra .networkingIcons img{
  height: 2.5em;
  width: 2.5em;
}

.footer .footerExtra .backToTopLink{
  padding: 1em;
}

.footer .footerExtra .backToTopLink a{
  text-decoration: none;
  color: #606060;
}

.footer .footerExtra .backToTopLink .arrow{
  vertical-align: middle;
  margin-left: 0.5em;
  height: 2em;
  width: 2em;
  opacity: 0.5;
}

.footer .footerExtra .appDownloadButtons{
  padding: 1em;
}

.footer .footerExtra .appDownloadButtons img{
  height: 4.5em;
}  


/**** Other ****/

.signInBox{
	padding: 1em 1em 2em;
} .signInBox h1,.signInBox h3{
    max-width: 100%;
    text-align: left;
  }
  .signInBox input{
    font-size: 0.7em;
    margin: 1em 1em 1em 0em;
  }

.signUpBox{
  padding: 1em 0em;
  text-align: center;
} .signUpBox input{
    font-size: 0.7em;
    width: 80%;
    display: block;
    margin: 1em auto;
  }
      

/**** Messages ****/

#errorMessage{
  text-align: center;
  color: red;
  padding: 10px;
}

#message{
  text-align: center;
  color: green;
  padding: 10px;
}
 



/**** Desktop ****/

@media only screen and (min-width:769px){
  body{
    font-size: 1.2em;  
  }
  
 /**** Desktop - Body ****/  
  /**** Desktop - Body - Get Started ****/
  #getStarted {
    padding: 1em 10%;
  }
    
  /**** Desktop - Body - How it works ****/
  #howItWorks{
    padding: 1em;
    overflow-x: auto;
  }
  
  #howItWorks .container{
    display: inline-table;
  }
  
  #howItWorks .create, #howItWorks .manage, #howItWorks .distribute{
    width: 32%;
    min-width: 12em;
    display: table-cell;
    vertical-align: top;
    padding: 1em;
  } #howItWorks .create, #howItWorks .manage{ /*only applies to first two cells*/
      border-bottom: 0px;
      border-right: 2px solid #003665;
      position: relative;
    }
  
  #howItWorks .arrow{
    position: absolute;
    top: 50%; right: 0%; bottom: initial; left: initial;
    transform: translate(50%,-50%);
  }
  
  #howItWorks .icon{
    display: table-cell;
  }
  
  
  
  /**** Desktop - Body - Pricing ****/
  #pricing{
    padding: 1.5em 0em;
  }
  
  #pricing .container{
    min-height: 22em;
  }
  
  
  #pricing .standard, #pricing .premium, #pricing .trial{
    /*formatting for each of the 3 price option boxes, followed by specific formatting*/  
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    width: 27%;
    min-width: 15em;
    height: 22em;
    margin: 1%;
    padding: 0px;
      /* This is calibrated to the font size of the desc element, 
          so that I can add 2em to the premium version of the element and 
          know its bottom will line up with those of the other two */
  } #pricing .standard{}
    #pricing .trial{}
    #pricing .premium{
      height: 24em;
    }
  
  
  #pricing .heading{  /*formatting for headers, followed by specific formatting for each of the 3 price option boxes*/
    box-sizing: border-box;
    height: 2em;
    padding-top: 1em;
  } #pricing .standard .heading{}
    #pricing .trial .heading{}
    #pricing .premium .heading{
      /* height: 60px;
      font-size:25px; */ 
    }
  
  
  #pricing .price{  /*formatting for prices, followed by specific formatting for each of the 3 price option boxes*/
    box-sizing: border-box;
    height: 1.5em;
    padding-top: 0.4em;
  } #pricing .standard .price{}
    #pricing .trial .price{}
    #pricing .premium .price{
      /* height: 60px;
      font-size:50px; */ 
    }
  
  
  #pricing .basis{  /*formatting for bases, followed by specific formatting for each of the 3 price option boxes*/
    box-sizing: border-box;
    height: 2em;
    padding: 0px;
  } #pricing .standard .basis{}
    #pricing .trial .basis{}
    #pricing .premium .basis{
      height: 4em;
    }
  
  
  #pricing .desc{ /*formatting for descriptions, followed by specific formatting for each of the 3 price option boxes*/
    /* box-sizing: border-box; */
    vertical-align: bottom;
    padding: 0.5em 2px;
  } #pricing .standard .desc{}
    #pricing .premium .desc{}
    #pricing .trial .desc{} 
  
  /* the button and its container has the same format for each plan */
  #pricing .buttonContainer{
    position: absolute;
    bottom: 0%;
    height: 4em;
    width: 100%;
  }
  
  #pricing .button{
  }
  
  
  
  
  /**** Desktop - Body - Features ****/
  
  #features{}
  
  #features ul{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    text-align: center;
    list-style: none;
  }
  
  #features li{
    display: inline-block;
    width: 40%;
    min-width: 315px;
    max-width: 400px;
    text-align: left;
  }
  
  #features li::before{
    content: "\2022 \0020";
  }
  
  
  
 /**** Desktop - Footer ****/
  
  .footer .footerExtra{
    overflow: hidden;
    position: relative;
  }
  
  .footer .footerExtra .copyright{
    position: absolute;
    top: 0%; right: 0%;
  }
  
  .footer .footerExtra .networkingIcons{
    position: absolute;
    top: 0%; left: 0%;
  }
  
  .footer .footerExtra .backToTopLink{
    position: absolute;
    top: 50%; right: 0%;
    transform: translate(0%,-50%);
  } 

  .footer .footerExtra .appDownloadButtons{
    width: 11em;
    margin: 4em auto 1em;
    padding: 0em;
  }
  
 /**** Desktop - Other ****/  
  .signUpBox input{
    width: 50%;
   }
  
  
}

