body{
  margin: 0px;
  font-family: verdana;
}

div{box-sizing: border-box;}

.header{
  background: #eee;
}

.footer{
  background: #eee;
}

#errorMessage{
  text-align: center;
  color: red;
  padding: 10px;
}

#message{
  text-align: center;
  color: green;
  padding: 10px;
}
